<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="shortcut icon" type="image/jpg" href="img/favicon.ico" />

    <link rel="stylesheet" href="css/style.css" />

    <script type="text/javascript" src="js/index.js" async></script>
  </head>
  <body>
    <div class="container <%= selectedGradient%>" id="container">
      <div class="main-box">
        <form action="/search" method="GET" class="search-bar">
          <input
            type="search"
            name="city"
            id="userInput"
            placeholder="Enter a location"
          />
          <button id="searchIcon" type="submit">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
          </button>
        </form>
        <div class="condition">
          <div class="condition-image">
            <img
              id="conditionImage"
              src="<%= `img/${response.data.weather[0].icon}.svg` %>"
              alt="<%= response.data.weather[0].main %>"
            />
          </div>
          <div id="temperature">
            <%= Math.round(response.data.main.temp) + "°" %>
          </div>
          <div id="conditionText">
            <%= utils.capitalizeInitials( response.data.weather[0].description )
            %>
          </div>
          <div id="userLocation">
            <%= response.data.name + ", " + response.data.sys.country %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
